*.class

.gradle
.settings
bin
build
eclipse
gradle

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
forge-1.7.10-10.13.0.1187-changelog.txt
CREDITS-fml.txt
.project
.classpath
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
LICENSE-fml.txt
gradlew
gradlew.bat
logs/fml-junk-earlystartup.log
logs/latest.log
gradle.properties
src/api
